#container {
    display: flex;
    flex-wrap: wrap;
}

#columns {
    padding: 20px;
    width: 300px;
}

#form {
    padding: 20px;
    width: 900px;
}

#table {
    padding: 20px;
    width: 700px;
}

#chart {
    width: 1200px;
    text-align: center;
}
