#container {
    display: flex;
    flex-wrap: wrap;
}

#columns {
    padding: 50px;
    width: 600px;
}

#form {
    padding: 20px;
    width: 500px;
}

#form_one_column {
    padding: 30px;
    width: 500px;
}

#table {
    padding: 20px;
    width: 900px;
}

#chart {
    width: 1200px;
    text-align: center;
}


#choice {
    padding: 50px;
    width: 500px;
}

#chart_one_column {
    width: 500px;
    text-align: center;
}


#form_two_columns {
    padding: 20px;
    width: 400px;
}


#percent {
    padding: 50px;
    width: 600px;
}
