#centerdiv {
    padding-top: 10px;
    padding-left: 30px;
}

#inputdiv {
    top: 45%;
    left: 40%;
    margin-top: -17em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position:relative;
}

#tablediv {
    top: 65%;
    left: 40%;
    padding-top: 20px;
    margin-top: -0.20em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    position:relative;
}

#chardiv {
    padding-top: 20px;
}
