{%  extends "data_display/base.html" %}


{% load static %}

{% block title %}

    See the columns in the dataframe
{%  endblock %}

{% block content %}
    <div id="container">
    <div id="columns">
    <h4>Columns in your dataframe</h4>
    <ul>
        {% for column in column_names %}
            <li>{{ column }}</li>
        {% endfor %}
    </ul>
    </div>


    <div id="form">
    <a>Choose columns for creating charts and making imputations</a><br>
    <form action='.' method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <select name="imputation" class="form-select" aria-label="Default select example">
            <option value="mean" class="dropdown-item">mean</option>
            <option value="median" class="dropdown-item">median</option>
            <option value="most_frequent" class="dropdown-item">most frequent</option>
            <option value="constant" class="dropdown-item">constant</option>
            <option value="MissForest" class="dropdown-item">miss forest</option>
        </select>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
    <div id="table">
    <h4>Data before and after imputation for strategy {{ impu_strategy }}</h4>
    <table>
        <tr>
            <th> {{ column1 }}</th>
            <th>{{ column2 }}</th>
        </tr>
        <tr>
            <td> Standard deviation before imputation: {{ std1 }} </td>
            <td> Standard deviation before imputation: {{ std2 }} </td>
        </tr>
        <tr>
            <td> Standard deviation after imputation: {{ std_imputation1 }} </td>
            <td> Standard deviation after imputation: {{ std_imputation2 }} </td>
        </tr>
        <tr>
            <td> 1st quantile before imputation {{ first_quantile_1 }} </td>
            <td> 1st quantile before imputation {{ first_quantile_2 }} </td>
        </tr>
        <tr>
            <td> 1st quantile after imputation {{ first_quantile_im_1 }} </td>
            <td> 1st quantile after imputation {{ first_quantile_im_2 }} </td>
        </tr>
        <tr>
            <td> 3rd quantile before imputation {{ third_quantiles_1 }} </td>
            <td> 3rd quantile before imputation {{ third_quantiles_2 }} </td>
        </tr>
        <tr>
            <td> 3rd quantile after imputation {{ third_quantiles_im_1 }} </td>
            <td> 3rd quantile after imputation {{ third_quantiles_im_2 }} </td>
        </tr>
        <tr>
            <td> Min before imputation {{ min_1 }} </td>
            <td> Min before imputation {{ min_2 }} </td>
        </tr>
        <tr>
            <td> Min after imputation {{ imputation_min_1 }} </td>
            <td> Min after imputation {{ imputation_min_2 }} </td>
        </tr>
        <tr>
            <td> Max before imputation {{ max_1 }} </td>
            <td> Max before imputation {{ max_2 }} </td>
        </tr>
        <tr>
            <td> Max after imputation {{ imputation_max_1 }} </td>
            <td> Max after imputation {{ imputation_max_2 }} </td>
        </tr>

    </table>
    </div>
    <br>
    <br>
    <div id="chart">
    <h4>{{ text }}</h4>
    {% if dashboard_created %}
        {{ chart2|safe }}

        {{ chart|safe }}
    </div>
    <div id="chart">
    <h4>After imputation</h4>
    <br>
        {{ chart_imputation_2|safe }}

        {{ chart_imputation_1|safe }}

    {% endif %}

    {% if dashboard_not_created %}
        {{ error }}
    {% endif %}
    </div>
    </div>
{% endblock %}
