{%  extends "data_display/base.html" %}


{% load static %}

{% block title %}

    See the columns in the dataframe
{%  endblock %}

{% block content %}
    <div id="container">
    <div id="columns">
    <h4>Columns in your dataframe</h4>
    <ul>
        {% for column in column_names %}
            <li>{{ column }}</li>
        {% endfor %}
    </ul>
    </div>
    <div id="choice">
    <form method="get">
        <select name="choice" class="form-select" aria-label="Default select example">
                <option disabled="True" selected>-------</option>
                <option value="one" class="dropdown-item">One</option>
                <option value="two" class="dropdown-item">Two</option>
        </select>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
{% endblock %}
