{%  extends "data_display/base.html" %}

{% load static %}

{% block title %}
Main page
{% endblock title %}

{% block content %}
    <div id="container">
    <div id="columns">
        <h4>Here you can upload csv file for which missing data is to be imputed</h4>
    </div>


    <div id="form">
        <form method="POST" action="/" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myFile">
            <input type="submit" name="Submit">
        </form>
    <br>
    </div>
    </div>
{%  endblock content %}
